@import "tailwindcss";

:root {
  --background: linear-gradient(0deg, #fff8ee, #f1eeec);
}

@theme {
  --color-grey: #e4e4e4;
  --color-primary: #4a3c62;
  --color-background: var(--background);
  --color-accent: #245336;
  --color-foreground: #112a12;
  --color-light: #fff8ee;

  --color-danger: #d30f3f;

  --breakpoint-ml: 31.25rem;

  --font-fira-code: var(--font-fira-code);
  --font-montserrat: var(--font-montserrat);
}

@layer base {
  body {
    background: var(--background);
    color: var(--color-foreground);
    min-height: 100vh;
    max-width: 90rem;
    margin-inline: auto;
  }
  button {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-fira-code);
  }

  p {
    line-height: 1.6;
  }
}

@layer components {
  .gradient1 {
    background: linear-gradient(0deg, #cba792, #4a3a62);
  }

  .gradient2 {
    background: linear-gradient(to right, #4a3a62, #245336);
  }

  .hero {
    background: linear-gradient(0deg, rgba(202, 166, 145, 0.6), #4a3a62),
      url("/assets/images/job-hunt.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-light);
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.95) 96%, transparent);
    mask-image: linear-gradient (rgba(0, 0, 0, 0.8), transparent);
  }
}

@layer utilities {
  .bg-auth {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/assets/images/auth-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
